#container {
    border: 2px solid black;
    display: flex ;
    flex-direction: row;
    height: 250px;
    width: 480px;
    gap: 4px ;
}
.box{
    border: 2px solid grey;
    width: 120px;
    height: 250px;
    background-color: antiquewhite;
}
.box :hover{
    cursor: pointer ;
}

.box:nth-child(1){
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}
.box:nth-child(1) img {
    height: 100px;
    width: 100px;
}
.box:nth-child(2){
    background-color: chocolate;
    display: flex;
    flex-direction: row;
}
/* .box:nth-child(2) img {
    height: 220px;
    width: auto;
} */
.box:nth-child(3){
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}
.box:nth-child(3) img {
    height: 100px;
    width: 100px;
}
.box:nth-child(4){
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
}
/* .box:nth-child(4) img {
    height: 220px;
    width: auto;
} */

.box:nth-child(1) > div,
.box:nth-child(3) > div{
    height: 150%;
    width: auto;
}
/* .box:nth-child(2) > div,
.box:nth-child(4) > div{
    height: 150px;
    width: auto;
} */

/* .box:nth-child(2) > div > img,
.box:nth-child(4) > div > img {
    height: 100%;
    width: auto;
} */

