div{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: lightblue;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px grey; /* x-offset, y-offset, blur-radius, color */
}